<main id="main">
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">{{page.article_title}}</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav role="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{page.article_title}}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 position-relative">
                    <p>
                        {{page.description}}
                    </p>
                    <br>
                    {% if page.video_link %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"  width="1280" height="720" src="{{page.video_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {% endif %}
                    {% for img in page.image_urls %}
                    <img src="{{img}}" alt="{{page.article_title}}" class="img-fluid">
                    <br><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>