<!-- ======= Intro Section ======= -->
<div class="intro intro-carousel swiper-container position-relative">

  <div class="swiper-wrapper">

    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/img/farm/mysuru-malliga/1.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">SPNF | ZBNF
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b">Cow Based Natural Farming </span> Preserves the soil health for
                    <br> Next Generation
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/img/farm/cinnar/1.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Nature's Rice
                    <br>
                  </p>
                  <h1 class="intro-title mb-4 ">
                    <span class="color-b">Cinnar </span> Rice
                    <br> Sampradhaya Seeds for Next Generation
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(assets/img/farm/art.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Art
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b">Agriculture is the </span> Treditional
                    <br> Wisdom
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div><!-- End Intro Section -->

<main id="main">

  <!-- ======= Services Section ======= -->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Farm Activities</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-collection"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Heriloom Seeds</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                We conserve the heirloom seeds, and maintain the genetic purity of the seed. We are intrested in
                learning more about sampradhaya seeds available and conserve them as much as we can.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="/heirloom-seeds" class="link-c link-icon">Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-calendar-range-fill"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Morphology</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                <a
                  href="https://en.wikipedia.org/wiki/Plant_morphology#:~:text=Phytomorphology%20is%20the%20study%20of,the%20visual%20identification%20of%20plants.">Morphology</a>
                is required for future generations to identify the seed by looking at few external structural parameters
                of any seeds growth. We are learning from the different sources available from universities. Yet a lot
                to learn in this area, we put all our efforts to remove the future conflicts beteen seed identification.
              </p>
            </div>
            <!-- <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="bi bi-calendar4-week"></span>
              </a>
            </div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-card-checklist"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Nutritional Properties</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Heirlooms are the gifted seeds by nature, by default the nutritions given
              </p>
            </div>
            <!-- <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-card-checklist"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Agriculture tool</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Farmer way of living with traditional Wisdom, independent of mechanization from any type of imports, We
                are the live example of a self-sustained family with all the agriculture tools available to do
                day-to-day tasks.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="/agro-tools" class="link-c link-icon">Read more
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest Crops</h2>
            </div>
            <div class="title-link">
              <a href="/latest-crops">All Latest Crops
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="property-carousel" class="swiper-container">
        <div class="swiper-wrapper">
          {% for member in site.data.latest-crops %}
          <div class="carousel-item-b swiper-slide">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="{{ member.image_file_name }}" alt="{{ member.name }}" class="img-a img-fluid mx-auto ">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{{ member.route }}"> {{ member.name }}
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">{{ member.grain_color }} | {{ member.grain_size }}</span>
                    </div>
                    <a href="{{ member.route }}" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Height</h4>
                        <span>{{ member.plant_height }} ft.
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Duration</h4>
                        <span>{{ member.crop_duration }} Days</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Origin</h4>
                        <span>{{ member.origin }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="propery-carousel-pagination carousel-pagination"></div>

    </div>
  </section><!-- End Latest Properties Section -->

  <!-- ======= Agents Section ======= -->
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Sodhara Thrayam</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-d">  
            <div class="card-img-d">
              <img src="assets/img/farmer.png" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="https://jinnabalu.com" class="link-two">Jinna Balu
                      </a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Software Engineer
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +91 9866 970 525
                  </p>
                  <p>
                    <strong>Email: </strong> jinna.balu@outlok.com
                  </p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/jinna.balu" class="link-one">
                        <i class="bi bi-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://twitter.com/JinnaBalu" class="link-one">
                        <i class="bi bi-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://github.com/JinnaBalu" class="link-one">
                        <i class="bi bi-github" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://www.linkedin.com/in/jinna-balu-20368995/" class="link-one">
                        <i class="bi bi-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="jinna-raju" class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="assets/img/farmer.png" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="#jinna-raju" class="link-two">Jinna Raju
                      <br> Farmer</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Spiritual Farming, treating farm as Devalaya and do the karma not hurting any living beings
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +91 9963 449 223
                  </p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/jinna.raju.1654" class="link-one">
                        <i class="bi bi-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="jinna-krishna" class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="assets/img/farmer.png" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="#jinna-krishna" class="link-two">Jinna Krishna
                      <br>Agronomists</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Reasearch on Nutritional and Medicinal study of different heirloom seeds 
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +91 9666507005
                  </p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/jinna.krishna.3" class="link-one">
                        <i class="bi bi-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Agents Section -->

  <!-- ======= Latest News Section ======= -->
  <section class="section-news section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest News</h2>
            </div>
            <div class="title-link">
              <a href="blog-grid.html">All News
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div id="news-carousel" class="swiper-container">
        <div class="swiper-wrapper">
          {% for member in site.data.latest-news %}
          <div class="carousel-item-b swiper-slide">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="{{ member.image_file_name }}" alt="{{ member.name }}" class="img-a img-fluid mx-auto ">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{{ member.route }}"> {{ member.name }}
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">{{ member.grain_color }} | {{ member.grain_size }}</span>
                    </div>
                    <a href="{{ member.route }}" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Height</h4>
                        <span>{{ member.plant_height }} ft.
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Duration</h4>
                        <span>{{ member.crop_duration }} Days</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Origin</h4>
                        <span>{{ member.origin }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
         

        </div>
      </div>

      <div class="news-carousel-pagination carousel-pagination"></div>
    </div>
  </section><!-- End Latest News Section -->

  <!-- <section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Testimonials</h2>
            </div>
          </div>
        </div>
      </div>

      <div id="testimonial-carousel" class="swiper-container">
        <div class="swiper-wrapper">

          <div class="carousel-item-a swiper-slide">
            <div class="testimonials-box">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-img">
                    <img src="assets/img/testimonial-1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-ico">
                    <i class="bi bi-chat-quote-fill"></i>
                  </div>
                  <div class="testimonials-content">
                    <p class="testimonial-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
                      debitis hic ber quibusdam
                      voluptatibus officia expedita corpori.
                    </p>
                  </div>
                  <div class="testimonial-author-box">
                    <img src="assets/img/mini-testimonial-1.jpg" alt="" class="testimonial-avatar">
                    <h5 class="testimonial-author">Albert & Erika</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item-a swiper-slide">
            <div class="testimonials-box">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-img">
                    <img src="assets/img/testimonial-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="testimonial-ico">
                    <i class="bi bi-collection"></i>
                  </div>
                  <div class="testimonials-content">
                    <p class="testimonial-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, cupiditate ea nam praesentium
                      debitis hic ber quibusdam
                      voluptatibus officia expedita corpori.
                    </p>
                  </div>
                  <div class="testimonial-author-box">
                    <img src="assets/img/mini-testimonial-2.jpg" alt="" class="testimonial-avatar">
                    <h5 class="testimonial-author">Pablo & Emma</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="testimonial-carousel-pagination carousel-pagination"></div>

    </div>
  </section>
   -->
</main><!-- End #main -->